<h1>Edit <%=@landmark.name%></h1>
<form action="/landmarks/<%=@landmark.id%>" method="post">
  <p>
    <label for="landmark_name">Name: </label>
    <input id="landmark_name" name="landmark[name]" type="text" value="<%=@landmark.name%>">
  </p>
  <p>
    <label for="landmark_year_completed">Year Completed: </label>
    <input id="landmark_year_completed" name="landmark[year_completed]" type="text" value="<%=@landmark.year_completed%>">
  </p>
  <input type="submit" value="Create New Landmark">
</form>
