<h1>List of Landmarks:</h1>
<ol>
  <% @landmarks.each do |landmark| %>
    <li><a href="/landmarks/<%=landmark.id%>"><%=landmark.name%></a> created in <%=landmark.year_completed%></li>
  <% end %>
</ol>
