<h1>New Landmark</h1>
<form action="/landmarks" method="post">
  <p>
    <label for="landmark_name">Name: </label>
    <input id="landmark_name" name="landmark[name]" type="text">
  </p>
  <p>
    <label for="landmark_year_completed">Year Complete: </label>
    <input id="landmark_year_completed" name="landmark[year_completed]" type="text">
  </p>
  <input type="submit" value="Create New Landmark">
</form>
