<h1>New Figure</h1>
<form action="/figures" method="post">
  <p>
    <label for="figure_name">Name: </label>
    <input id="figure_name" name="figure[name]" type="text">
  </p>
  <p>This figure's landmark include: </p>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]"><%=landmark.name%>
  <% end %>
  <label for="new_landmark"
  <input type="submit" value="Create New Figure">
</form>
