<h1><%=@figure.name%></h1>
<h2>Title:
  <% @figure.titles.each do |title| %>
    <%=title.name%>
  <%end%>
</h2>
<h2>Landmark:
  <% @figure.landmarks.each do |landmark| %>
    <%=landmark.name%>
  <%end%>
</h2>
